<h1>The <%= @performer.adjective %> performer is <%= @performer.stock_till_interval.company_name %></h1>
<p><%=  @performer.stock_till_interval.company_name %> <%= @performer.verb%> is <%= @performer.number_till_interval %> </p>